<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="./css/all.css" />
		<link rel="stylesheet" type="text/css" href="./css/footer.css"/>
		<script src="./js/vue.js"></script>
	</head>
	<body>
		<footer>
			<div id="footer_top">
				<ul v-for="(value,index) in bottomList"
					:key='index' class="footer_nav">
					<li class=".ft_nav_st">
						<a href="#"
						:class="{active:current === index,disable:value.flag}"
						@click="change(index)">
						{{value.title}}</a></li>
						<ul class="ValueMenu" v-if="value.flag">
							<li v-for="message in value.message"
							:key='message'
							@click="change(index)">
								<a href="#">{{message}}</a>
							</li>
						</ul>
					
				</ul>
			</div>
			<script>
				new Vue({
					el:'#footer_top',
					data:{
						bottomList:[
							{
								title:'A',
								flag:false,
								message:[],
							},
							{
								title:'B',
								flag:true,
								message:[
									'b',
									'bb',
									'bbb',
									'bbbb',
								],
							},
							{
								title:'C',
								flag:true,
								message:[
									'c',
									'cc',
									'ccc',
								]
							},
							{
								title:'D',
								flag:false,
								message:[],
							}
						],
						current:0
					},
					methods:{
						change(index){
							this.current=index;
						}
					}
				})
			</script>
			<div id="footer_bottom">
				<p><span>Copyright © 2008-2020 FUNDAMENTALS OF COMPUTER CULTURE Learing System Online,ALL rights reserved.</span></p>
				<p> <span> liuqiulin 版权所有 </span> | <a href="http://www.baidu.com" target="_blank">百度一下</a> 提供技术支持 | <a href="#">服务协议</a> | 电话：13025309445</p>
			</div>
		</footer>
	</body>
</html>
