* {
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar{
  width:0;
}
img {
	border: 0;
}

ol,
ul,
li {
	list-style: none;
}

body {
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background-color:transparent;
}

body {
	letter-spacing: 1px;
	font-family: "times new roman";
	letter-spacing: 0.0625rem;
	font-size: 16px;
	text-align: justify;
}

a {
	color: #007596;
	font-weight:bolder;
	display: inline-block;
	text-decoration: none;
}

div {
	display: block;
}
